.classpath
.project
.settings
.DS_Store
target

# /android/
/android/bin
/android/gen

# /core/
/core/bin
/core/.gwt

# /sample/WebGLDemo/war/WEB-INF/
/sample/WebGLDemo/war/WEB-INF/lib
/sample/WebGLDemo/war/WEB-INF/classes
/sample/WebGLDemo/war/WEB-INF/deploy

# /sample/cute/android/
/sample/cute/android/bin
/sample/cute/android/gen

# /sample/cute/html/war/
/sample/cute/html/war/cutegame
/sample/cute/html/war/WEB-INF/lib
/sample/cute/html/war/WEB-INF/classes
/sample/cute/html/war/WEB-INF/deploy

# /sample/cute/flash/war/WEB-INF/
/sample/cute/flash/war/WEB-INF/lib
/sample/cute/flash/war/WEB-INF/classes
/sample/cute/flash/war/WEB-INF/deploy

# /sample/cute/server/
/sample/cute/server/bin

# /sample/hello/android/
/sample/hello/android/bin
/sample/hello/android/gen

# /sample/hello/html/war/WEB-INF/
/sample/hello/html/war/WEB-INF/lib
/sample/hello/html/war/WEB-INF/classes
/sample/hello/html/war/WEB-INF/deploy

# /sample/hello/flash/war/WEB-INF/
/sample/hello/flash/war/WEB-INF/lib
/sample/hello/flash/war/WEB-INF/classes
/sample/hello/flash/war/WEB-INF/deploy

# /sample/noise/noise/war/WEB-INF/
/sample/noise/noise/war/WEB-INF/lib
/sample/noise/noise/war/WEB-INF/classes
/sample/noise/noise/war/WEB-INF/deploy

# /sample/noise/war/
/sample/noise/war/noisegame

# /sample/noise/war/WEB-INF/
/sample/noise/war/WEB-INF/lib
/sample/noise/war/WEB-INF/classes
/sample/noise/war/WEB-INF/deploy

# /sample/showcase/android/
/sample/showcase/android/bin
/sample/showcase/android/gen

# /sample/showcase/core/war/
/sample/showcase/core/war/showcase
/sample/showcase/core/war/showcaseflash

# /sample/showcase/html/war/WEB-INF/
/sample/showcase/html/war/WEB-INF/lib
/sample/showcase/html/war/WEB-INF/classes
/sample/showcase/html/war/WEB-INF/deploy

# /sample/showcase/flash/war/WEB-INF/
/sample/showcase/flash/war/WEB-INF/lib
/sample/showcase/flash/war/WEB-INF/classes
/sample/showcase/flash/war/WEB-INF/deploy

# /sample/paymentsdemo/html/war/WEB-INF/
/sample/paymentsdemo/html/war/WEB-INF/classes

# /server/
/server/bin

# /test/core/war/WEB-INF/
/test/core/war/WEB-INF/lib
/test/core/war/WEB-INF/classes
/test/core/war/WEB-INF/deploy

# /test/benchmark
/test/benchmark/html/war/WEB-INF/classes
/test/benchmark/html/war/WEB-INF/deploy/
/test/benchmark/html/war/bench/

# /test/manualtests
/test/manualtests/html/war/WEB-INF/classes
/test/manualtests/html/war/WEB-INF/deploy
/test/manualtests/html/war/manualtestsgame
/test/manualtests/html/gwt-unitCache

/test/manualtests/flash/war/WEB-INF/classes

# /test/unittests
/test/unittests/html/war/playn.html.HtmlTests.JUnit/
/test/unittests/html/war/WEB-INF/deploy/
/test/unittests/html/gwt-unitCache/
