.classpath
.project
.settings
.DS_Store
target

# /android/
/android/bin
/android/gen

# /core/
/core/bin
/core/.gwt

# /sample/WebGLDemo/war/WEB-INF/
/sample/WebGLDemo/war/WEB-INF/lib
/sample/WebGLDemo/war/WEB-INF/classes
/sample/WebGLDemo/war/WEB-INF/deploy

# /sample/cute/android/
/sample/cute/android/bin
/sample/cute/android/gen

# /sample/cute/html/war/WEB-INF/
/sample/cute/html/war/WEB-INF/lib
/sample/cute/html/war/WEB-INF/classes
/sample/cute/html/war/WEB-INF/deploy

# /sample/cute/flash/war/WEB-INF/
/sample/cute/flash/war/WEB-INF/lib
/sample/cute/flash/war/WEB-INF/classes
/sample/cute/flash/war/WEB-INF/deploy

# /sample/cute/server/
/sample/cute/server/bin

# /sample/hello/android/
/sample/hello/android/bin
/sample/hello/android/gen

# /sample/hello/html/war/WEB-INF/
/sample/hello/html/war/WEB-INF/lib
/sample/hello/html/war/WEB-INF/classes
/sample/hello/html/war/WEB-INF/deploy

# /sample/hello/flash/war/WEB-INF/
/sample/hello/flash/war/WEB-INF/lib
/sample/hello/flash/war/WEB-INF/classes
/sample/hello/flash/war/WEB-INF/deploy

# /sample/noise/noise/war/WEB-INF/
/sample/noise/noise/war/WEB-INF/lib
/sample/noise/noise/war/WEB-INF/classes
/sample/noise/noise/war/WEB-INF/deploy

# /sample/noise/war/
/sample/noise/war/noisegame

# /sample/noise/war/WEB-INF/
/sample/noise/war/WEB-INF/lib
/sample/noise/war/WEB-INF/classes
/sample/noise/war/WEB-INF/deploy

# /sample/peas/android/
/sample/peas/android/bin
/sample/peas/android/gen

# /sample/peas/core/war/
/sample/peas/core/war/peas
/sample/peas/core/war/peasflash

# /sample/peas/core/war/WEB-INF/
/sample/peas/core/war/WEB-INF/lib
/sample/peas/core/war/WEB-INF/classes
/sample/peas/core/war/WEB-INF/deploy

# /sample/peas/html/war/WEB-INF/
/sample/peas/html/war/WEB-INF/lib
/sample/peas/html/war/WEB-INF/classes
/sample/peas/html/war/WEB-INF/deploy

# /sample/sprites/android/
/sample/sprites/android/bin
/sample/sprites/android/gen

# /server/
/server/bin

# /test/core/war/WEB-INF/
/test/core/war/WEB-INF/lib
/test/core/war/WEB-INF/classes
/test/core/war/WEB-INF/deploy

# /test/manualtests/html/
/test/manualtests/html/target
